<div id="<%= dom_id client_order %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Client:</strong>
    <%= client_order.client_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Delivary address:</strong>
    <%= client_order.delivary_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Delivary date:</strong>
    <%= client_order.delivary_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Delivary time:</strong>
    <%= client_order.delivary_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Client name:</strong>
    <%= client_order.client_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= client_order.phone_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= client_order.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total price:</strong>
    <%= client_order.total_price %>
  </div>
</div>
