<%= form_with(model: order, class: "contents") do |form| %>

  <!-- Client -->
  <div class="my-5">
    <%= form.label :client_id, "Customer" %>

    <%= text_field_tag :client_name,
        @cart&.client&.name || order.customer_name,
        disabled: true,
        class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full bg-gray-100" %>

    <%= form.hidden_field :client_id,
        value: @cart&.client_id || order.client_id %>
  </div>

  <!-- Menu item -->
  <div class="my-5">
    <%= form.label :menu_item_id, "Menu Item" %>

    <%= text_field_tag :menu_item_name,
        @cart&.menu_item&.name || order.menu_item&.name,
        disabled: true,
        class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full bg-gray-100" %>

    <%= form.hidden_field :menu_item_id,
        value: @cart&.menu_item_id || order.menu_item_id %>
  </div>

  <!-- Quantity -->
  <div class="my-5">
    <%= form.label :qty %>
    <%= form.number_field :qty,
        value: @cart&.qty || order.qty,
        disabled: true,
        class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full" %>
  </div>


  <div class="my-5">
    <%= form.label :phone_number %>
    <%= form.number_field :phone_number,
    value: @cart&.client&.phone,
    placeholder: "Optional..",
        class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full" %>
  </div>

  <!-- Delivery address -->
  <div class="my-5">
    <%= form.label :delivery_address %>
    <%= form.textarea :delivery_address,
    value: @cart&.client&.address,
    placeholder: "Optional...",
        rows: 3,
        class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full" %>
  </div>

  <!-- Delivery date -->
  <div class="my-5">
    <%= form.label :delivary_date %>
    <%= form.date_field :delivary_date,
        class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full" %>
  </div>

  <!-- Delivery time -->
  <div class="my-5">
    <%= form.label :delivary_time %>
    <%= form.time_field :delivary_time,
        class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit "Place Order",
        class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  </div>

<% end %>
