<div id="<%= dom_id order %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Client:</strong>
    <%= order.client_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Delivery address:</strong>
    <%= order.delivery_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Delivary date:</strong>
    <%= order.delivary_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Delivary time:</strong>
    <%= order.delivary_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Customer name:</strong>
    <%= order.customer_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= order.phone_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= order.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total price:</strong>
    <%= order.total_price %>
  </div>
</div>
