<div id="<%= dom_id cart %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Customer:</strong>
    <%= cart.client.name %>
  </div>
  <div>
    <%= image_tag cart.menu_item.image_url , width: 200 , class: "rounded ",loading: "lazy" if cart.menu_item.image_url.present?%>
  </div>
  <div>
    <strong class="block font-medium mb-1">Menu item:</strong>
    <%= cart.menu_item.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Price:</strong>
    <%= cart.menu_item.price %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Quantity</strong>
    <%= cart.qty %>
  </div>
</div>
